In [ ]:
# 导包
import numpy as np
import pandas as pd

# 1. DataFrame的常用属性

In [ ]:
# 1. 加载数据源, 获取 df 对象.
df = pd.read_csv('../data/scientists.csv')
df

In [ ]:
# 2. 演示df对象的常用属性.
print(df.ndim)  # 轴(几位数组, 轴就是几),  2
print(df.shape)  # 维度(几行几列), (8, 5)
print(df.size)  # 40, 行数 * 列表, 包括 NaN值. 
print(df.index)  # 获取df对象的 索引列(的值), RangeIndex(start=0, stop=8, step=1)
print(df.columns)  # 获取df对象的 列名, Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')
print(df.values)  # 获取df对象的 列值.

# 2.DataFrame对象的常用函数

In [ ]:
# 8, 行数:len(x)

# 默认获取前5行: .head()
# 获取前3行: .head(n=x)
# 默认获取后5行: .tail()
# 获取后2行: .tail(n=x)
# 获取所有的列名: .keys()
# 查看df对象各列的基本信息:.info()
# 各列的平均值: .mean()
# 各列的最大值: .max()
# 统计各列的 非空值:.count()
# 查看df对象的统计信息, 只能看到 数值类型的统计信息: .describe()
# 查看df对象的统计信息, 除了整型, 浮点型外所有的统计信息. 
# df.describe(exclude=['int', 'float']) 
# 查看df对象的统计信息, 所有类型都看. 
df.describe(include='all')

# 3. DataFrame对象的布尔索引操作

In [3]:
# 需求: 查找 movie.csv文件中, 电影时长 > 平均时长的 电影信息.
# 1. 读取数据源文件, 获取 df对象
import pandas as pd
movie_df = pd.read_csv('../data/movie.csv')
movie_df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [6]:
# 2. 获取符合条件的数据, 即: 电影时长 > 平均时长的. 
# 时长：duration
movie_df = pd.read_csv('../data/movie.csv')
list_time=movie_df['duration']>movie_df['duration'].mean()
print(movie_df[list_time])

      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
5     Color     Andrew Stanton                   462.0     132.0
...     ...                ...                     ...       ...
4891  Color      Alex Kendrick                     5.0     120.0
4893    NaN    Brandon Landers                     NaN     143.0
4898  Color        John Waters                    73.0     108.0
4899  Color    Olivier Assayas                    81.0     110.0
4902  Color   Kiyoshi Kurosawa                    78.0     111.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                         0.0                   855.0  Joel David Moore
1                       563.0                  1000.0     Orlando Bloom
2                         0.0                   161.0      Rory Kinnear
3                     22000.0                 23000.0    Christian Bale
5                       475.0                   530.0   Samantha Morton
...                       ...                     ...               ...
4891                    589.0                     4.0       Lisa Arnold
4893                      8.0                     8.0   Alana Kaniewski
4898                      0.0                   105.0        Mink Stole
4899                    107.0                    45.0    Béatrice Dalle
4902                     62.0                     6.0     Anna Nakagawa

      actor_1_facebook_likes        gross                           genres  \
0                     1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi
1                    40000.0  309404152.0         Action|Adventure|Fantasy
2                    11000.0  200074175.0        Action|Adventure|Thriller
3                    27000.0  448130642.0                  Action|Thriller
5                      640.0   73058679.0          Action|Adventure|Sci-Fi
...                      ...          ...                              ...
4891                    51.0          NaN                            Drama
4893                   720.0          NaN            Drama|Horror|Thriller
4898                   462.0     180483.0              Comedy|Crime|Horror
4899                   576.0     136007.0              Drama|Music|Romance
4902                    89.0      94596.0    Crime|Horror|Mystery|Thriller

      ... num_user_for_reviews  language  country  content_rating  \
0     ...               3054.0   English      USA           PG-13
1     ...               1238.0   English      USA           PG-13
2     ...                994.0   English       UK           PG-13
3     ...               2701.0   English      USA           PG-13
5     ...                738.0   English      USA           PG-13
...   ...                  ...       ...      ...             ...
4891  ...                 49.0   English      USA             NaN
4893  ...                  8.0   English      USA             NaN
4898  ...                183.0   English      USA           NC-17
4899  ...                 39.0    French   France               R
4902  ...                 50.0  Japanese    Japan             NaN

           budget  title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0     237000000.0      2009.0                  936.0        7.9          1.78
1     300000000.0      2007.0                 5000.0        7.1          2.35
2     245000000.0      2015.0                  393.0        6.8          2.35
3     250000000.0      2012.0                23000.0        8.5          2.35
5     263700000.0      2012.0                  632.0        6.6          2.35
...           ...         ...                    ...        ...           ...
4891      20000.0      2003.0                   49.0        6.9          1.85
4893      17350.0      2011.0                   19.0        3.0           NaN
4898      10000.0      1972.0                  143.0        6.1          1.37
4899       4500.0      2004.0                  133.0        6.9          2.35
4902    1000000.0      1997.0                   13.0        7.4          1.85

     movie_facebook_likes
0                   33000
1                       0
2                   85000
3                  164000
5                   24000
...                   ...
4891                  725
4893                   33
4898                    0
4899                  171
4902                  817

[2006 rows x 28 columns]

In [7]:
# 3. df对象, 也支持 手动传参的方式, 直接传入布尔值.
#：[True,False,True..]
# 需求： 查询前五行中的，第1、2、4行
bool = [True,False,True,True,False]
movie_df.head()[bool]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000

# 4.DataFrame对象的计算

In [11]:
# 1. DataFrame对象和数值运算, 就是把该数值作用到 每个DataFrame身上. 
#df * x
movie_df*2

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,ColorColor,James CameronJames Cameron,1446.0,356.0,0.0,1710.0,Joel David MooreJoel David Moore,2000.0,1.521012e+09,Action|Adventure|Fantasy|Sci-FiAction|Adventur...,...,6108.0,EnglishEnglish,USAUSA,PG-13PG-13,474000000.0,4018.0,1872.0,15.8,3.56,66000
1,ColorColor,Gore VerbinskiGore Verbinski,604.0,338.0,1126.0,2000.0,Orlando BloomOrlando Bloom,80000.0,6.188083e+08,Action|Adventure|FantasyAction|Adventure|Fantasy,...,2476.0,EnglishEnglish,USAUSA,PG-13PG-13,600000000.0,4014.0,10000.0,14.2,4.70,0
2,ColorColor,Sam MendesSam Mendes,1204.0,296.0,0.0,322.0,Rory KinnearRory Kinnear,22000.0,4.001484e+08,Action|Adventure|ThrillerAction|Adventure|Thri...,...,1988.0,EnglishEnglish,UKUK,PG-13PG-13,490000000.0,4030.0,786.0,13.6,4.70,170000
3,ColorColor,Christopher NolanChristopher Nolan,1626.0,328.0,44000.0,46000.0,Christian BaleChristian Bale,54000.0,8.962613e+08,Action|ThrillerAction|Thriller,...,5402.0,EnglishEnglish,USAUSA,PG-13PG-13,500000000.0,4024.0,46000.0,17.0,4.70,328000
4,NaN,Doug WalkerDoug Walker,NaN,NaN,262.0,NaN,Rob WalkerRob Walker,262.0,NaN,DocumentaryDocumentary,...,NaN,NaN,NaN,NaN,NaN,NaN,24.0,14.2,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,ColorColor,Scott SmithScott Smith,2.0,174.0,4.0,636.0,Daphne ZunigaDaphne Zuniga,1274.0,NaN,Comedy|DramaComedy|Drama,...,12.0,EnglishEnglish,CanadaCanada,NaN,NaN,4026.0,940.0,15.4,NaN,168
4912,ColorColor,NaN,86.0,86.0,NaN,638.0,Valorie CurryValorie Curry,1682.0,NaN,Crime|Drama|Mystery|ThrillerCrime|Drama|Myster...,...,718.0,EnglishEnglish,USAUSA,TV-14TV-14,NaN,NaN,1186.0,15.0,32.00,64000
4913,ColorColor,Benjamin RoberdsBenjamin Roberds,26.0,152.0,0.0,0.0,Maxwell MoodyMaxwell Moody,0.0,NaN,Drama|Horror|ThrillerDrama|Horror|Thriller,...,6.0,EnglishEnglish,USAUSA,NaN,2800.0,4026.0,0.0,12.6,NaN,32
4914,ColorColor,Daniel HsiaDaniel Hsia,28.0,200.0,0.0,978.0,Daniel HenneyDaniel Henney,1892.0,2.088600e+04,Comedy|Drama|RomanceComedy|Drama|Romance,...,18.0,EnglishEnglish,USAUSA,PG-13PG-13,NaN,4024.0,1438.0,12.6,4.70,1320
4915,ColorColor,Jon GunnJon Gunn,86.0,180.0,32.0,32.0,Brian HerzlingerBrian Herzlinger,172.0,1.704440e+05,DocumentaryDocumentary,...,168.0,EnglishEnglish,USAUSA,PGPG,2200.0,4008.0,46.0,13.2,3.70,912

In [12]:
# 2. df 和 df运算, 则对应元素直接运算即可.
#df + df
movie_df + movie_df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,ColorColor,James CameronJames Cameron,1446.0,356.0,0.0,1710.0,Joel David MooreJoel David Moore,2000.0,1.521012e+09,Action|Adventure|Fantasy|Sci-FiAction|Adventur...,...,6108.0,EnglishEnglish,USAUSA,PG-13PG-13,474000000.0,4018.0,1872.0,15.8,3.56,66000
1,ColorColor,Gore VerbinskiGore Verbinski,604.0,338.0,1126.0,2000.0,Orlando BloomOrlando Bloom,80000.0,6.188083e+08,Action|Adventure|FantasyAction|Adventure|Fantasy,...,2476.0,EnglishEnglish,USAUSA,PG-13PG-13,600000000.0,4014.0,10000.0,14.2,4.70,0
2,ColorColor,Sam MendesSam Mendes,1204.0,296.0,0.0,322.0,Rory KinnearRory Kinnear,22000.0,4.001484e+08,Action|Adventure|ThrillerAction|Adventure|Thri...,...,1988.0,EnglishEnglish,UKUK,PG-13PG-13,490000000.0,4030.0,786.0,13.6,4.70,170000
3,ColorColor,Christopher NolanChristopher Nolan,1626.0,328.0,44000.0,46000.0,Christian BaleChristian Bale,54000.0,8.962613e+08,Action|ThrillerAction|Thriller,...,5402.0,EnglishEnglish,USAUSA,PG-13PG-13,500000000.0,4024.0,46000.0,17.0,4.70,328000
4,NaN,Doug WalkerDoug Walker,NaN,NaN,262.0,NaN,Rob WalkerRob Walker,262.0,NaN,DocumentaryDocumentary,...,NaN,NaN,NaN,NaN,NaN,NaN,24.0,14.2,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,ColorColor,Scott SmithScott Smith,2.0,174.0,4.0,636.0,Daphne ZunigaDaphne Zuniga,1274.0,NaN,Comedy|DramaComedy|Drama,...,12.0,EnglishEnglish,CanadaCanada,NaN,NaN,4026.0,940.0,15.4,NaN,168
4912,ColorColor,NaN,86.0,86.0,NaN,638.0,Valorie CurryValorie Curry,1682.0,NaN,Crime|Drama|Mystery|ThrillerCrime|Drama|Myster...,...,718.0,EnglishEnglish,USAUSA,TV-14TV-14,NaN,NaN,1186.0,15.0,32.00,64000
4913,ColorColor,Benjamin RoberdsBenjamin Roberds,26.0,152.0,0.0,0.0,Maxwell MoodyMaxwell Moody,0.0,NaN,Drama|Horror|ThrillerDrama|Horror|Thriller,...,6.0,EnglishEnglish,USAUSA,NaN,2800.0,4026.0,0.0,12.6,NaN,32
4914,ColorColor,Daniel HsiaDaniel Hsia,28.0,200.0,0.0,978.0,Daniel HenneyDaniel Henney,1892.0,2.088600e+04,Comedy|Drama|RomanceComedy|Drama|Romance,...,18.0,EnglishEnglish,USAUSA,PG-13PG-13,NaN,4024.0,1438.0,12.6,4.70,1320
4915,ColorColor,Jon GunnJon Gunn,86.0,180.0,32.0,32.0,Brian HerzlingerBrian Herzlinger,172.0,1.704440e+05,DocumentaryDocumentary,...,168.0,EnglishEnglish,USAUSA,PGPG,2200.0,4008.0,46.0,13.2,3.70,912

In [14]:
# 3. df 和 df运算, 如果索引不匹配, 则用NaN填充, 索引匹配的直接计算
# df[:4]
movie_df[:4] + movie_df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,ColorColor,James CameronJames Cameron,1446.0,356.0,0.0,1710.0,Joel David MooreJoel David Moore,2000.0,1.521012e+09,Action|Adventure|Fantasy|Sci-FiAction|Adventur...,...,6108.0,EnglishEnglish,USAUSA,PG-13PG-13,474000000.0,4018.0,1872.0,15.8,3.56,66000.0
1,ColorColor,Gore VerbinskiGore Verbinski,604.0,338.0,1126.0,2000.0,Orlando BloomOrlando Bloom,80000.0,6.188083e+08,Action|Adventure|FantasyAction|Adventure|Fantasy,...,2476.0,EnglishEnglish,USAUSA,PG-13PG-13,600000000.0,4014.0,10000.0,14.2,4.70,0.0
2,ColorColor,Sam MendesSam Mendes,1204.0,296.0,0.0,322.0,Rory KinnearRory Kinnear,22000.0,4.001484e+08,Action|Adventure|ThrillerAction|Adventure|Thri...,...,1988.0,EnglishEnglish,UKUK,PG-13PG-13,490000000.0,4030.0,786.0,13.6,4.70,170000.0
3,ColorColor,Christopher NolanChristopher Nolan,1626.0,328.0,44000.0,46000.0,Christian BaleChristian Bale,54000.0,8.962613e+08,Action|ThrillerAction|Thriller,...,5402.0,EnglishEnglish,USAUSA,PG-13PG-13,500000000.0,4024.0,46000.0,17.0,4.70,328000.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 5. 更改Series和DataFrame对象的 行索引, 列名

## 5.1 读取文件后, 设置行索引

In [ ]:
# 1. 读取数据源文件, 获取 df对象
movie = pd.read_csv('../data/movie.csv')
movie.head()

In [15]:
# 2. 设置 movie_title(电影名) 为 行索引
# 在Pandas中, 大部分的函数, 都是在源数据拷贝一份进行修改, 并返回副本. 而这类函数都有一个特点, 即: 有 inplace参数. 
# 默认 inplace=False, 即: 返回副本, 不修改源数据.   如果inplace=True, 则是直接修改 源数据.
# 语法： df.set_index('x',inplace=True)
movie_df.set_index('movie_title',inplace=True)
#需求：设置索引：movie_title

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
The Following,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
A Plague So Pleasant,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
Shanghai Calling,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
My Date with Drew,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [ ]:
# 3. 查看设置后的 movie这个df对象.
# 查看前5行

movie.head()

## 5.2 读取文件时, 设置行索引

In [16]:
# 1. 读取数据源文件, 获取 df对象, 指定 电影名为 行索引
movie2 = pd.read_csv('../data/movie.csv', index_col='movie_title')
movie2.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

## 5.3 取消设置的行索引, 归为: 系统自动提供的 0 ~ n

In [18]:
#取消设置的 行索引
#语法： x.reset_index(inplace=True)
movie_df.reset_index(inplace=True)
movie_df.head()

,level_0,index,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,0,0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,1,1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,2,2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,3,3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,4,4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

# 5.4 修改DataFrame对象的 行索引 和 列名

In [19]:
# 1. 读取数据源文件, 获取 df对象, 指定 电影名为 行索引
movie = pd.read_csv('../data/movie.csv', index_col='movie_title')
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

### 5.4.1 思路1: rename()函数直接修改

In [21]:
# 2. 获取 前5个列名, 方便稍后修改.
# 语法： .index[:]
movie_df.index[:5]
# 3. 获取 前5个列索引值, 方便稍后修改.
# 语法： .columns[:]
movie_df.columns[:5]


# 4. 具体的修改 列名 和 行索引的动作.
#4.1 设置索引和列名
#语法： （索引）idx_name = {'idx0':'xx','idx1':'xx',...}
#语法： （列名）col_name = {'col0':'xx','col1':'xx',...}
#4.2 重置 索引和列名
#语法： df.rename(index = idx_name, columns=col_name, inplace=True)

# 5. 查看修改后的数据

Index(['level_0', 'index', 'color', 'director_name', 'num_critic_for_reviews'], dtype='object')

### 5.4.2 思路2: 将 index 和 column属性提取出来, 修改之后, 再放回去.

In [23]:
# 1. 从 df中获取 行索引 和 列名的信息, 并转成列表.
#语法：df.index.tolist()  
# 取行索引信息, ['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre', ...]   
movie_df.index.tolist()

#语法：df.columns.tolist() 
# 取列名, ['color', 'director_name', 'num_critic_for_reviews', ...]


# 2. 修改上述的 列表(即: 行索引, 列名)信息.
#语法：idx_list[下标] = xxx


#语法：col_list[下标] = xxx


# 3. 把上述修改后的内容, 当做新的 行索引 和 列名. 
#语法：行索引修改 df.index = idx_list
#语法：列索引修改 df.columns = col_list


# 4. 查看结果.
# movie.head()

TypeError: 'list' object is not callable

# 5.5 添加, 删除, 插入列

In [25]:
#语法：添加列, 格式为: df['列名'] = 列值
#新增1列, has_seen = 0, 表示是否看过这个电影. 0: 没看过, 1:看过
# movie['has_seen2'] = 0
movie_df['has_seen']=0

#练习：新增1列, 总点赞量 = 导演 + 演员（1,2,3）的 脸书点赞量
# 总点赞量:director_actor_facebook_likes
movie_df['director_actor_facebook_likes']=movie_df['director_facebook_likes']+movie_df['actor_1_facebook_likes']+movie_df['actor_2_facebook_likes']+movie_df['actor_3_facebook_likes']
# 2. 查看结果.
# movie.head()

In [30]:
#删除列
#语法： df.drop('xx', axis=0)  # 0: rows, 行,  1: columns:列
# 需求1: 删除 has_seen 列的内容.
movie_df.drop('has_seen', axis=1)
# 需求2: 删除 John Carter 行的内容.
movie_df.drop('John Carter', axis=0)

KeyError: "['John Carter'] not found in axis"

In [282]:
# 需求: 插入列, 在索引1的位置插入 profit 列, 它的值 = gross - budget, 即: 总盈利 = 总收入 - 总预算.
# 语法：.insert(loc=1, column='列名', value=xx)
# insert()函数 不是返回副本, 而是在 源数据上直接修改. 
movie.insert(loc=1, column='profit', value=movie['gross'] - movie.budget)
movie.head()

,color,profit,a,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,has_seen,director_actor_facebook_likes,has_seen2
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,523505847.0,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,...,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,0,1936.0,0
Pirates of the Caribbean: At World's End,Color,9404152.0,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,...,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,0,45563.0,0
Spectre,Color,-44925825.0,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,...,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,0,11393.0,0
The Dark Knight Rises,Color,198130642.0,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,...,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,0,72000.0,0
Star Wars: Episode VII - The Force Awakens,NaN,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,...,NaN,NaN,NaN,12.0,7.1,NaN,0,0,274.0,0

# 6. 导入和导出数据

## 6.1 导出数据

In [283]:
# 需求: 导出数据到 G:\tmp\output\...
# 细节: 要导出到的目的地目录, 必须存在, 即:  output目录必须存在.
# 格式:  df.to_后缀名(路径)

# 1. 准备原始df对象.
df = pd.read_csv('../data/scientists.csv')
df

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [33]:
# 2. 对上述的df做操作, 模拟: 实际开发中, 对df对象做处理. 
# 需求: 筛选出 年龄 大于 平均年龄的数据.
# 语法：df[df.col > df.col.mean()]
df = pd.read_csv('../data/scientists.csv')
df[df.Age > df.Age.mean()]

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [40]:
# 需求: 导出数据到 G:\tmp\output\...
# 细节: 要导出到的目的地目录, 必须存在, 即:  output目录必须存在.
# 格式:  df.to_后缀名(路径)
df.to_csv('mycsv.csv')
# 3. 把上述的df对象, 写出到目的地中. 
#3.1 pickle格式文件
# pickle: 比较适合 存储中间的df数据, 即: 后续要频繁使用的df对象, 可以存储下来. 
# pickle文件的后缀名可以是: .p, .pkl, .pickle
# 语法：df.to_pickle('G:\tmp\output\xx.pkl')
df.to_pickle('mydf.pkl')
#3.2 excel, csv等文件, 适合于: 存储最终结果. 
# 注意: 有三个包需要安装一下, 如果你读写excel文件, 但如果你用的是Anaconda, 已经有了, 无需安装.
#语法：df.to_excel('G:\tmp\output\xx.xls')  # 会把索引列也当做数据, 写出. 
#语法：df.to_excel('G:\tmp\output\xx.xls', index=False, sheet_name='xx') # 不导出索引列, 且设置sheet名. 


# csv(用逗号隔开), tsv(用\t隔开), 适用于 数据共享, 整合等操作. 
#语法：df.to_csv('G:\tmp\output\xx.csv')
#语法：df.to_csv('G:\tmp\output\xx.csv', index=False, sep='\t或者,')

# df.to_csv(r'G:\tmp\output\scientists_noindex.tsv', index=False, sep='\t')

# 6.2 读取数据

In [ ]:
# 演示导入

# pickle文件
# pd.read_pickle(r'G:\tmp\output\scientists_pickle.pkl') 

# excel文件
# pd.read_excel(r'G:\tmp\output\scientists.xls')            

# csv文件
# pd.read_csv(r'G:\tmp\output\scientists.csv')                 

pd.read_csv(r'G:\tmp\output\scientists_noindex.tsv', sep='\t')